.background__container {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
  }
  
  .background__image {
    width: 100%;
    height: 100%;
  }
  
  .background__title {
    text-align: center;
    width: 150vh;
    font-size: 2.8rem;
    color: white;
    z-index: 8;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  
  .background__button {
    z-index: 8;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem !important;
  }

  .background__link {
    text-decoration: none;
    margin-right: 8vw;
   }
  
  .goo {
      box-decoration-break: clone;
      background: #3f51b5;
      padding: 0.5rem 1rem;
      filter: url('#goo');
  }
  
  .goo:focus {
      outline: 0;
  }