.question__background {
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/zed.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.question__container {
    margin-left: 8vw;
    width: 65vw;
    height: 12vh;
    border-radius: 20px;
    background-color: #E5E4E2;
}

.question__container h2 {
    text-align: center;
}

.question__answer {
    margin-left: 8vw;
    width: 65vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
    background-color: #CCCBCA;
}