.question__background {
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.question__container {
    width: 80vw;
}

.question__container h2 {
    text-align: center;
}

.question__answer {
    width: 80vw;
}