.question__background {
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.question__container {
    width: 80vw;
    height: 12vh;
    border-radius: 20px;
    background-color: #E5E4E2;
}

.question__container h2 {
    text-align: center;
}

.question__answer {
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
    background-color: #B6D0E2;
}