@keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
  }
  
  .background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .background span:nth-child(0) {
    color: #ffdd00;
    top: 47%;
    left: 27%;
    animation-duration: 95s;
    animation-delay: -266s;
    transform-origin: -20vw 21vh;
    box-shadow: 2vmin 0 1.2286294751579407vmin currentColor;
  }
  .background span:nth-child(1) {
    color: #d10a0a;
    top: 39%;
    left: 35%;
    animation-duration: 33s;
    animation-delay: -397s;
    transform-origin: 5vw -3vh;
    box-shadow: 2vmin 0 1.2181686177012998vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #d10a0a;
    top: 57%;
    left: 64%;
    animation-duration: 9s;
    animation-delay: -450s;
    transform-origin: 3vw 8vh;
    box-shadow: 2vmin 0 0.5854861127936584vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #ffdd00;
    top: 29%;
    left: 23%;
    animation-duration: 110s;
    animation-delay: -371s;
    transform-origin: 5vw -2vh;
    box-shadow: -2vmin 0 0.9623103541121187vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #d10a0a;
    top: 56%;
    left: 44%;
    animation-duration: 372s;
    animation-delay: -166s;
    transform-origin: 20vw 24vh;
    box-shadow: -2vmin 0 0.3806690270953781vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #ffdd00;
    top: 61%;
    left: 28%;
    animation-duration: 444s;
    animation-delay: -95s;
    transform-origin: 16vw 7vh;
    box-shadow: 2vmin 0 0.277172734085285vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #ffdd00;
    top: 100%;
    left: 38%;
    animation-duration: 445s;
    animation-delay: -184s;
    transform-origin: -22vw 15vh;
    box-shadow: 2vmin 0 0.9193255113405157vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #ffdd00;
    top: 33%;
    left: 31%;
    animation-duration: 292s;
    animation-delay: -144s;
    transform-origin: -11vw -11vh;
    box-shadow: -2vmin 0 0.7903875772269031vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #ffdd00;
    top: 18%;
    left: 1%;
    animation-duration: 6s;
    animation-delay: -317s;
    transform-origin: -5vw 19vh;
    box-shadow: -2vmin 0 1.0010712471153163vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #ffdd00;
    top: 98%;
    left: 69%;
    animation-duration: 446s;
    animation-delay: -100s;
    transform-origin: -2vw -13vh;
    box-shadow: -2vmin 0 0.48516612789467484vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #ffdd00;
    top: 76%;
    left: 96%;
    animation-duration: 276s;
    animation-delay: -429s;
    transform-origin: 16vw -15vh;
    box-shadow: -2vmin 0 0.8860843488895571vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #d10a0a;
    top: 77%;
    left: 77%;
    animation-duration: 157s;
    animation-delay: -201s;
    transform-origin: -11vw 23vh;
    box-shadow: 2vmin 0 0.4692035381950499vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #d10a0a;
    top: 37%;
    left: 44%;
    animation-duration: 73s;
    animation-delay: -188s;
    transform-origin: -20vw -16vh;
    box-shadow: -2vmin 0 0.33049442538588747vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #d10a0a;
    top: 78%;
    left: 18%;
    animation-duration: 398s;
    animation-delay: -26s;
    transform-origin: 22vw -2vh;
    box-shadow: -2vmin 0 0.6045744156470958vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #ffdd00;
    top: 10%;
    left: 32%;
    animation-duration: 251s;
    animation-delay: -148s;
    transform-origin: 7vw 1vh;
    box-shadow: 2vmin 0 0.8756998187709082vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #d10a0a;
    top: 40%;
    left: 1%;
    animation-duration: 297s;
    animation-delay: -203s;
    transform-origin: 15vw 22vh;
    box-shadow: -2vmin 0 0.5764447990131485vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #d10a0a;
    top: 35%;
    left: 52%;
    animation-duration: 22s;
    animation-delay: -197s;
    transform-origin: -10vw 25vh;
    box-shadow: -2vmin 0 0.6125805266254531vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #ffdd00;
    top: 62%;
    left: 43%;
    animation-duration: 67s;
    animation-delay: -121s;
    transform-origin: 13vw 12vh;
    box-shadow: -2vmin 0 0.7693830140006714vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #d10a0a;
    top: 18%;
    left: 48%;
    animation-duration: 431s;
    animation-delay: -29s;
    transform-origin: 25vw -14vh;
    box-shadow: -2vmin 0 0.9723837908578201vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #d10a0a;
    top: 84%;
    left: 83%;
    animation-duration: 335s;
    animation-delay: -341s;
    transform-origin: 6vw -24vh;
    box-shadow: 2vmin 0 0.44977136601455436vmin currentColor;
  }
  .background span:nth-child(20) {
    color: #d10a0a;
    top: 59%;
    left: 96%;
    animation-duration: 18s;
    animation-delay: -70s;
    transform-origin: 21vw 14vh;
    box-shadow: -2vmin 0 1.0167130140656329vmin currentColor;
  }
  .background span:nth-child(21) {
    color: #ffdd00;
    top: 34%;
    left: 96%;
    animation-duration: 100s;
    animation-delay: -419s;
    transform-origin: -10vw 4vh;
    box-shadow: -2vmin 0 0.7678958624531615vmin currentColor;
  }
  .background span:nth-child(22) {
    color: #ffdd00;
    top: 55%;
    left: 44%;
    animation-duration: 377s;
    animation-delay: -323s;
    transform-origin: 19vw -24vh;
    box-shadow: -2vmin 0 0.7070972430687557vmin currentColor;
  }
  .background span:nth-child(23) {
    color: #ffdd00;
    top: 55%;
    left: 13%;
    animation-duration: 318s;
    animation-delay: -60s;
    transform-origin: -24vw 15vh;
    box-shadow: 2vmin 0 0.8166428032539834vmin currentColor;
  }
  .background span:nth-child(24) {
    color: #d10a0a;
    top: 18%;
    left: 98%;
    animation-duration: 287s;
    animation-delay: -252s;
    transform-origin: -6vw -22vh;
    box-shadow: -2vmin 0 0.8619155656523179vmin currentColor;
  }
  .background span:nth-child(25) {
    color: #d10a0a;
    top: 24%;
    left: 38%;
    animation-duration: 27s;
    animation-delay: -317s;
    transform-origin: 14vw 7vh;
    box-shadow: 2vmin 0 0.9000043853274313vmin currentColor;
  }
  .background span:nth-child(26) {
    color: #d10a0a;
    top: 13%;
    left: 30%;
    animation-duration: 100s;
    animation-delay: -398s;
    transform-origin: 13vw -24vh;
    box-shadow: 2vmin 0 1.0879157082788924vmin currentColor;
  }
  .background span:nth-child(27) {
    color: #ffdd00;
    top: 66%;
    left: 20%;
    animation-duration: 13s;
    animation-delay: -51s;
    transform-origin: 25vw -5vh;
    box-shadow: 2vmin 0 0.8335533185405724vmin currentColor;
  }
  .background span:nth-child(28) {
    color: #d10a0a;
    top: 88%;
    left: 90%;
    animation-duration: 97s;
    animation-delay: -309s;
    transform-origin: 9vw -19vh;
    box-shadow: 2vmin 0 0.5621149504212217vmin currentColor;
  }
  .background span:nth-child(29) {
    color: #ffdd00;
    top: 94%;
    left: 64%;
    animation-duration: 94s;
    animation-delay: -206s;
    transform-origin: 4vw 25vh;
    box-shadow: -2vmin 0 0.43655088712927936vmin currentColor;
  }
  .background span:nth-child(30) {
    color: #ffdd00;
    top: 81%;
    left: 85%;
    animation-duration: 78s;
    animation-delay: -354s;
    transform-origin: -23vw -3vh;
    box-shadow: 2vmin 0 1.1035726960487098vmin currentColor;
  }
  .background span:nth-child(31) {
    color: #ffdd00;
    top: 97%;
    left: 46%;
    animation-duration: 145s;
    animation-delay: -264s;
    transform-origin: 22vw 13vh;
    box-shadow: -2vmin 0 0.3203968103289143vmin currentColor;
  }
  .background span:nth-child(32) {
    color: #d10a0a;
    top: 24%;
    left: 82%;
    animation-duration: 376s;
    animation-delay: -211s;
    transform-origin: -5vw -11vh;
    box-shadow: -2vmin 0 0.2797836224278545vmin currentColor;
  }
  .background span:nth-child(33) {
    color: #d10a0a;
    top: 95%;
    left: 83%;
    animation-duration: 335s;
    animation-delay: -68s;
    transform-origin: 8vw -15vh;
    box-shadow: 2vmin 0 0.9099159399047485vmin currentColor;
  }
  .background span:nth-child(34) {
    color: #ffdd00;
    top: 33%;
    left: 84%;
    animation-duration: 147s;
    animation-delay: -33s;
    transform-origin: 15vw 18vh;
    box-shadow: -2vmin 0 0.5312573129965574vmin currentColor;
  }
  .background span:nth-child(35) {
    color: #ffdd00;
    top: 61%;
    left: 43%;
    animation-duration: 85s;
    animation-delay: -97s;
    transform-origin: -1vw 5vh;
    box-shadow: -2vmin 0 1.1542028218009204vmin currentColor;
  }
  .background span:nth-child(36) {
    color: #ffdd00;
    top: 50%;
    left: 6%;
    animation-duration: 195s;
    animation-delay: -171s;
    transform-origin: -16vw 3vh;
    box-shadow: 2vmin 0 0.2539430422887199vmin currentColor;
  }
  .background span:nth-child(37) {
    color: #ffdd00;
    top: 93%;
    left: 27%;
    animation-duration: 418s;
    animation-delay: -205s;
    transform-origin: 7vw 0vh;
    box-shadow: 2vmin 0 0.5352864957571255vmin currentColor;
  }
  .background span:nth-child(38) {
    color: #ffdd00;
    top: 81%;
    left: 4%;
    animation-duration: 259s;
    animation-delay: -13s;
    transform-origin: 21vw 0vh;
    box-shadow: 2vmin 0 0.3646150290007042vmin currentColor;
  }
  .background span:nth-child(39) {
    color: #d10a0a;
    top: 7%;
    left: 15%;
    animation-duration: 425s;
    animation-delay: -2s;
    transform-origin: 2vw 6vh;
    box-shadow: 2vmin 0 0.3669480119311399vmin currentColor;
  }
  